$HEADER_HEIGHT: 56px;

$TITLE_01: 32px;
$TITLE_02: 28px;
$TITLE_03: 24px;
$TITLE_04: 20px;
$TITLE_05: 18px;
$TITLE_06: 16px;

$TEXT_01: 16px;
$TEXT_02: 14px;
$TEXT_03: 12px;
$TEXT_04: 10px;
$TEXT_05: 8px;
$TEXT_06: 6px;